body{
    text-shadow: 0 1px 1px rgba(255,255,255,0.4);
    color: #34373b;
}
.block {
    background: #FFFFFF;
}

.theme-background {
    background: #FFFFFF;
}

.theme-primary {
    background: #F0F0F0;
}

.theme-secondary {
    background: #D5D5D5;
}

.theme-alt {
    background: #171717;
}
.theme-accent{
    color: #B8006D;
}
.box.section.theme-primary img
{
    filter: invert(100%);
}

#header{
    background: #212121;
}

a {
    color: #212121;
    font-weight: bold;
    text-decoration: none;
}

#nav a
{
    color: white;
}

::-moz-placeholder, .submit {
    color: #595959 !important;
}