@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:900);
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    -webkit-font-smoothing: antialiased;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

a {
    color: #fff;
}

body {
    line-height: 1;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 16px;
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

#header {
    display: block;
    text-align: center;
    height: 50px;
}

#footer {
    opacity: 0.8;
    text-align: center;
    margin: 30px 0;
}

#footer a {
    opacity: 0.5;
}

#footer a:hover {
    opacity: 1;
}

#logo {
    display: block;
    float: left;
    margin-top: 15px;
}

#nav {
    float: left;
    margin: 0;
}

#nav li {
    float: left;
    list-style: none;
    margin: 0 10px;
    height: 50px;
}
#nav li a{
    display: block;
    padding-top: 15px;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

#nav li a:hover {
    border-bottom: solid 5px #B8006D;
}

#portfolio {
    padding: 0;
}

.block {
    width: 5px;
    height: 5px;
    position: absolute;
}

.block.left {
    left: 0;
}

.block.right {
    right: 0;
}

.block.top {
    top: 0;
}

.block.bottom {
    bottom: 0;
}

li.right {
    margin-right: 0 !important;
}

.home {
    font-size: 22px;
    padding: 10px 5px;
    margin-top: 10px;
}

.home p {
    padding: 0 10px 5px;
}

.tweet {
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 15px;
    padding: 10px;
}

#content {
    width: 1100px;
    margin: 0 auto 10px auto;
}

#gameHeader{
    overflow: hidden;
    float: left;
    height: 450px;
    width: 100%;
    background-image: linear-gradient(transparent 0%, transparent 65%, rgba(0,0,0,0.25) 100%);
}

#gameHeader .background{
    filter: blur(10px);
    height: 450px;
    float: none;
    background-position: center center;
    transform: scale(1.1);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

#gameTitle {
    width: 1100px;
    margin: 0 auto 20px auto;
    height: 450px;
    position: relative;
}

#gameTitle .gameImage {
    width: 265px;
    height: auto;
    float: left;
    bottom: -60px;
    position: absolute;
}
#gameTitle .gameImage img {
    width: inherit;
}
.bannerText {
    float: left;
    position: absolute;
    bottom: 0;
    left: 280px;
    padding-bottom: 25px;
}

.bannerText .gameTitle {
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    margin-bottom: 25px;
}

.bannerText .gameDate {
    font-size: 25px;
    opacity: 0.8;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    color: white;
    margin-bottom: 25px;
    font-weight: 600;
}
.bannerText .company-url {
    font-size: 18px;
    opacity: 0.8;
    font-style: italic;
    text-decoration: none;
    letter-spacing: 1px;
    margin-bottom: 25px;
    color: white;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.bannerText .company-url:hover {
    text-decoration: underline red;
}
.home, .col, .blogImage, .blogTitle, .blogContent, .postImage, .postTitle, .postDate, .postContent, .gameThumb, .gameTitle, .gameContent, .tweet {
    position: relative;
}

p {
    line-height: 25px;
}

.col {
    width: 310px;
    float: left;
    margin: 0 5px 10px;
}

.col a {
    display: block;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
}

.col a img {
    display: block;
    width: 290px;
    height: 218px;
    margin: 0;
}

/* BLOG */

.blog {
    margin-bottom: 10px;
}

.blog .blogImage img {
    width: 455px;
    height: auto;
    display: block;
}

.blog .blogImage {
    float: left;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    width: 455px;
}

.blog .blogImage a {
    display: block;
    min-height: 120px;
    min-width: 455px;
}

.blog .blogTitle {
    width: 455px;
    padding: 10px 10px 10px 20px;
    float: left;
    margin: 0 0 10px;
    background: rgba(255, 255, 255, 0.2);
}

.blog .blogTitle h1 {
    font-size: 18px;
}

.blog .blogContent {
    width: 455px;
    float: left;
    margin-left: 10px;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 16px;
}

.blog .blogContent a, .game .gameContent a {
    text-decoration: underline;
}

/* POST */

.post {
    text-align: center;
}

.post .postTitle {
    display: inline-block;
    font-size: 40px;
    text-align: center;
}

.post .postDate {
    display: inline-block;
    font-size: 20px;
    text-align: center;
}

.post .postImage {
    display: inline-block;
    text-align: center;
}

.post img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.post .postTitle, .post .postDate {
    padding: 10px 20px;
    margin: 0 0 10px;
    background: rgba(255, 255, 255, 0.2);
}

.post .postContent {
    padding: 10px 20px;
    margin: 10px 0;
    line-height: 1.5em;
    background: rgba(255, 255, 255, 0.2);
    text-align: left;
}

/* GAMES */

#gamesHeader {
    text-align: center;
    margin: 40px 0px;
}

#gamesHeader h1{
    font-size: 66px;
    font-weight: bold;
    text-transform: uppercase;
}

.game {
    margin-bottom: 10px;
}

.game .gameThumb img {
    display: block;
    max-width: 290px;
}

.game .gameThumb {
    float: left;
    padding: 10px;
}

.game .gameThumb a {
    display: block;
    min-height: 120px;
    min-width: 290px;
}

.game .gameTitle {
    width: 760px;
    padding: 10px 10px 10px 20px;
    float: left;
    margin: 0 0 10px;
}

.noThumb {
    width: auto !important;
    float: none !important;
    margin-left: 0px !important;
}

.game .gameTitle h1 {
    font-size: 18px;
}

.game .gameContent {
    width: 760px;
    float: left;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
}

.contact {
    margin-top: 10px;
}

.contact .thumb img {
    display: block;
    max-width: 200px;
}

.contact .thumb {
    float: left;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    position: relative;
}

.contact .title {
    width: 850px;
    position: relative;
    padding: 10px 10px 10px 20px;
    float: left;
    margin: 0 0 10px;
    background: rgba(255, 255, 255, 0.2);
}

.contact .title h1 {
    font-size: 18px;
}

.contact form .content {
    width: 850px;
    min-height: 100px;
    float: left;
    margin-left: 10px;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    position: relative;
    padding: 10px;
}

.contact form .content:hover {
    background: rgba(255, 255, 255, 0.2);
}

.contact form .content .message {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    margin: 0px;
    width: 96%;
    border: none;
    color: #fff;
    font-size: 18px;
    background: rgba(0, 0, 0, 0);
}

.contact form .content .message:focus {
    outline: none;
}

.contact form .content.from {
    margin-top: 10px;
    min-height: 20px;
    width: 750px;
}

.contact form .content.send {
    width: 70px;
    margin-top: 10px;
    min-height: 20px;
    position: relative;
}

.contact form .content.send .submit {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    color: white;
    line-height: 30px;
}

.contact .notice {
    width: 710px;
    height: 152px;
    float: left;
    margin-left: 10px;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    position: relative;
    padding: 10px;
}

.contact .notice .message {
    margin-top: 24px;
    text-align: center;
    font-size: 32px;
    line-height: 45px;
}

::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: white;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}

#project .title {
    position: relative;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
}

#project iframe {
    display: block;
    margin: auto;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

.description {
    position: relative;
    padding: 10px;
    margin-left: 20px;
    float: left;
    width: 795px;
}

.box {
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
}

.block2 {
    position: relative;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
}

.account {
    padding: 0;
    margin: 10px 0 0 0;
}

.account .section {
    padding: 0;
    width: 49.5%;
    float: left;
    margin-right: 1%;
    text-align: center;
    height: 150px;
    line-height: 200px;
}

.account .section.last {
    margin-right: 0;
}

.account .section:hover {
    background: rgba(255, 255, 255, 0.1);
}

.account .section a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.tags .tag {
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
}

.tags {
    margin: 60px 0 10px 0;
    width: 265px;
    float: left;
}

.tags a {
    display: block;
    line-height: 25px;
    padding: 5px 10px;
    margin-bottom: 10px;
    position: relative;
}

.tags a img {
    float: left;
    height: 25px;
    margin-right: 5px;
}

.tags .tag:first {
    margin-top: 20px;
}

/* Image Slider */

#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 960px;
    height: 540px;
    background: #ccc;
    text-align: center;
    line-height: 300px;
}

a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {}

a.control_next {
    right: 0;
}

.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}