<!doctype html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism.min.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=560">

    <style>
    </style>
</head>

<body>
    <header>
        <nav>
            <h1 class="title">
                <a href="/" class="accent">{{headerTitle}}</a>
            </h1>
            {{#links}}
            <h2>
                <a href="{{url}}" {{#isExternal}} rel="external" target="_blank" {{/isExternal}}>{{name}}</a>
            </h2>
            {{/links}}
        </nav>
    </header>
    <div class="content">
        {{#hasHeaderImage}}
        <img src="{{headerImage}}" style="margin: 0 auto;" />
        {{/hasHeaderImage}}
        {{#hasVideo}}
        <div class="videoWrapper">
            <div id="player" style="text-align: center; margin: auto">
            </div>
        </div>
        <script>
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";

            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            var player;

            function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                    height: '349',
                    width: '560',
                    videoId: '{{url}}'
                });
            }
        </script>
        {{/hasVideo}}
        <div class="padded-wrapper">
            <div class="game-title">
                <h1>{{title}}</h1>
                <h2>{{date}}</h2>
                <div class="clearfix"></div>
            </div>
            <hr />
            <div class="tags">
                {{#downloads}}
                <a href="{{url}}" class="{{type}}">
                    <img src="/img/{{type}}.png" style="display:inline;" />{{text}}</a>
                {{/downloads}}
                <div class="clearfix"></div>
                {{#tags}}
                <div class="tag">
                    {{tag}}
                </div>
                {{/tags}}
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="description">
            {{{ contents }}}
        </div>
    </div>
    <footer>
        &copy;{{year}} Mitch Andrews
    </footer><script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-core.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js"></script>
</body>

</html>