<!doctype html>
<html lang="en">

<head>
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="/css/theme.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="wrapper">
    <header>
      <div id="logo">
        <a href="/">
          <img src="img/wobbier-logo.png" alt="wobbier logo">
        </a>
      </div>
      <div class="clearfix"></div>
    </header>
    <section id="content">
      {{{ contents }}}
    </section>
    <footer>
      &copy; 2018 Mitch Andrews
    </footer>
  </div>
</body>

</html>