<!doctype html>
<html lang="en">

<head>
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link href="css/theme.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="wrapper">
    <header>
      <div id="logo">
        <a href="/">
          <img src="img/wobbier-logo.png" alt="wobbier logo">
        </a>
      </div>
      <div class="clearfix"></div>
    </header>
    <section id="content">
        <div class="home" style="text-align:center;">
            <div class="block top left"></div>
            <div class="block bottom left"></div>
            <div class="block top right"></div>
            <div class="block bottom right"></div>
            <p>My name is Mitch Andrews and I'm a game programmer from
                <strong>Toronto</strong>, Canada.</p>
            <p>I program primarily in
                <strong>C++</strong>,
                <strong>C#</strong>, and
                <strong>Node.js</strong> using either OS X, Windows, or Linux.</p>
            <p>I primarily use C++, Unity, and Unreal Engine 4 for game development.</p>
            <p>Contact me
                <a href="#contact">at the bottom</a> if you have any questions!</p>
        </div>
        <div class="account">
            <div class="box section">
                <div class="block top left"></div>
                <div class="block bottom left"></div>
                <div class="block top right"></div>
                <div class="block bottom right"></div>
                <a href="https://github.com/wobbier?tab=repositories">
                    <img src="img/GitHub-Mark.png" height="64px" alt="GitHub logo" />
                </a>
            </div>
            <div class="box section last">
                <div class="block top left"></div>
                <div class="block bottom left"></div>
                <div class="block top right"></div>
                <div class="block bottom right"></div>
                <a href="https://ca.linkedin.com/in/mitchellandrews">
                    <img src="img/linkedin.png" alt="LinkedIn logo" />
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="gamesHeader">
            <img src="img/portfolio.png" alt="Portfolio header image" />
        </div>
        <div class="games">
          {{#games}}
            <div class="game">
                <div class="gameThumb">
                    <div class="block top left"></div>
                    <div class="block bottom left"></div>
                    <div class="block bottom right"></div>
                    {{#external}}
                    <a href="{{url}}">
                        <img src="{{thumb}}" />
                    </a>
                    {{/external}} {{^external}}
                    <a href="/game/{{slug}}">
                        <img src="{{thumb}}" />
                    </a>
                    {{/external}}
                </div>
                <div class="gameTitle {{^thumb}}noThumb{{/thumb}}">
                    {{^thumb}}
                    <div class="block top left"></div>
                    <div class="block bottom left"></div>
                    {{/thumb}}
                    <div class="block top right"></div>
                    <div class="block bottom right"></div>
                    <h1>
                        <a href='{{#external}}{{url}}{{/external}}{{^external}}/game/{{slug}}{{/external}}'>{{title}}</a> -
                        <span class="date">{{date}}</span>
                    </h1>
                </div>
                <div class="gameContent {{^thumb}}noThumb{{/thumb}}">
                    <div class="block top left"></div>
                    <div class="block bottom left"></div>
                    <div class="block top right"></div>
                    <div class="block bottom right"></div>
                    <p>{{{ description }}}</p>
                </div>
                <div class="clearfix"></div>
            </div>
            {{/games}}
            {{{ contents }}}
        </div>
    </section>
    <footer>
      &copy; 2018 Mitch Andrews
    </footer>
  </div>
</body>

</html>