<!doctype html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=460">
</head>

<body>
    <header>
        <nav>
            <h1>
                <a href="https://github.com/wobbier" rel="external" target="_blank">GITHUB</a>
            </h1>
            <h1>
                <a href="https://linkedin.com/in/mitchellandrews" rel="external" target="_blank">LINKEDIN</a>
            </h1>
            <h1>
                <a href="https://twitter.com/wobbier" rel="external" target="_blank">TWITTER</a>
            </h1>
            <h1>
                <a href="mailto:mitchdandrews@gmail.com">EMAIL</a>
            </h1>
            <h1>
                <a href="/about">ABOUT</a>
            </h1>
            <h1 class="title">
                <a href="/">MITCH ANDREWS</a>
            </h1>
        </nav>
    </header>
    <div class="content">
        {{#projects}}
        <a href="{{url}}" class="game-link">
            <div class="game-background" style="background-image: url('{{background}}');">
            </div>
            <div class="game-info">
                <p>{{{description}}}</p>
            </div>
            <div class="project-title">
                <h1>{{title}}</h1>
            </div>
        </a>
        {{/projects}}
    </div>
    <footer>
        &copy;{{year}} Mitch Andrews
    </footer>
</body>

</html>